.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
    background: linear-gradient(135deg, #e0f7fa, #022a31);
  }
  
  .auth-box {
    width: 700px;
   
    padding: 30px;
    background: rgb(126, 172, 169);
    border-radius: 20px;
    box-shadow: 0 12px 76px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-box h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .auth-box .ms-TextField,
  .auth-box .ms-Button {
    width: 100%;
  }
  
  .auth-box .ms-Checkbox {
    text-align: left;
  }
  
  .auth-box .auth-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .dashboard-container{
    justify-content: center;
    height: 12vh;
    width: 100vw;
    /* align-items: center; */
    border: 100px;
    text-align: center;
  }
  